body {
	margin: 0;
    line-height: 1.3;
}

.home-container,
.chat-container {
	height: 100vh;
    width: 100vw;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.home-container {
	background-image: url('../assets/home.jpg');
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: hide forwards;
	animation-iteration-count: 1;
	animation-delay: 3s;
    z-index: 2;
}

.chat-container {
    background-color: #eee;
	background-image: url('../assets/conversationWithoutText.jpg');
}

.message-container {
	padding-top: 80px;
}

.messages {
	max-height: 70vh;
    width: 100vw;
    overflow-y: scroll;
}

.bot-msg,
.user-msg {
    position: relative;;
    margin: 10px 40px;
    max-width: 60%;
    padding: 15px;
    border-radius: 25px;
    clear: both;
}

.bot-msg::after,
.user-msg::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
}

.bot-msg {
    float: left;
    color: #00357d;
    background: #fff;
}

.bot-msg::after {
    left: 0;
    border-left: 0; 
    border-right-color: #fff;
    margin-left: -15px;
}

.user-msg {
    float: right;
    color: #fff;
    background: #00357d;
}

.user-msg::after {
    right: 0;
    border-right: 0;
    border-left-color: #00357d;
    margin-right: -15px;
}

.chat-input {
	width: 100%;
    position: absolute;
    bottom: 25px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    animation: hide backwards;
    animation-direction: reverse;
	animation-iteration-count: 1;
	animation-delay: 3s;
}

.chat-input input,
.chat-input button {
    font-size: 18px;
    border: 1px solid #aa9b72;
    padding: 10px;
}

.chat-input input {
    float: left;
    width: 75%;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px; 
    opacity: 0.6;
}

.chat-input button {
    float: right;
    width: 25%;
    outline: none;
    background: #aa9b72;
    color: #fff;
    border-radius: 0 5px 5px 0;
 }

@keyframes hide {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}
